<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		
		
		<title> Malz portfolio webpage </title>
		
		
		<!--=====================================================
			CSS Stylesheets
		=====================================================-->
		<link rel='stylesheet' type='text/css' href='bootstrap/css/bootstrap.min.css' >
		<link rel='stylesheet' type='text/css' href='static/css/linea.css' >
		<link rel='stylesheet' type='text/css' href='static/css/ionicons.min.css' >
		<link rel='stylesheet' type='text/css' href='static/css/owl.carousel.css' >
		<link rel='stylesheet' type='text/css' href='static/css/magnific-popup.css' >
		<link rel='stylesheet' type='text/css' href='static/css/style.css' >
		
	</head>
	<body>
		
		
		<!--=====================================================
			Preloader
		=====================================================-->
		<div id='preloader' >
			<div class='loader' ></div>
			<div class='left' ></div>
			<div class='right' ></div>
		</div>
		
		
		<div class='main-content' >
			
			<!--=====================================================
				Page Borders
			=====================================================-->
			<div class='page-border border-left' ></div>
			<div class='page-border border-right' ></div>
			<div class='page-border border-top' ></div>
			<div class='page-border border-bottom' ></div>
			
			
			
			<!--=====================================================
				Menu Button
			=====================================================-->
			<a href='#' class='menu-btn' >
				<span class='lines' >
					<span class='l1' ></span>
					<span class='l2' ></span>
					<span class='l3' ></span>
				</span>
			</a>
			
			
			<!--=====================================================
				Menu
			=====================================================-->
			<div class='menu' >
				<div class='inner' >
					<ul class='menu-items' >
						
						<li>
							<a href='#' class='section-toggle' data-section='intro' >
								Home
							</a>
						</li>
						
						<li>
							<a href='#about' class='section-toggle' data-section='about' >
								About
							</a>
						</li>
						
						<li>
							<a href='#resume' class='section-toggle' data-section='resume' >
								Resume
							</a>
						</li>
						<!--
						<li>
							<a href='#portfolio' class='section-toggle' data-section='portfolio' >
								Portfolio
							</a>
						</li>
					         -->
						  
						<li>
							<a href='#contact' class='section-toggle' data-section='contact' >
								Contact
							</a>
						</li>
						
						
					</ul>
				</div>
			</div>
			
			<div class='animation-block' ></div>
			
			
			<!--=====================================================
				Sections
			=====================================================-->
			<div class='sections' >
				
				<!--=====================================================
					Main Section
				=====================================================-->
				<section id='intro' class='section section-main active' >
					
					<div class='container-fluid' >
						
						<div class='v-align' >
							<div class='inner' >
								<div class='intro-text' >
									
									<h1>I'm Malcolm Ibrahim</h1>
									
									<p>
										A Friend, and also a fullstack developer
									</p>
									
									<div class='intro-btns' >
										
										<a href='#about' class='btn-custom section-toggle' data-section='about' >
											Discover More
										</a>
										
										<a href='#contact' class='btn-custom section-toggle' data-section='contact' >
											Hire Me
										</a>
										
									</div>
									
								</div>
							</div>
							
						</div>
						
					</div>
				
				</section>
				
				
				<!--=====================================================
					About Section
				=====================================================-->
				<section id='about' class='section about-section border-d' >
					
					<div class='section-block about-block' >
						<div class='container-fluid' >
							
							<div class='section-header' >
								<h2>
									I'm a <strong class='color' >Programmer</strong>
								</h2>
							</div>
							
							<div class='row' >
								
								<div class='col-md-4' >
									
									<ul class='info-list' >
										
										<li>
											<strong>Name:</strong>
											<span>Malcolm Ibrahim</span>
										</li>
										
										<li>
											<strong>Job:</strong>
											<span>Freelancer</span>
										</li>
										
										<li>
											<strong>Age:</strong>
											<span>26 Years</span>
										</li>
										
										<li>
											<strong>Residence:</strong>
											<span>Nigeria</span>
										</li>
										
										<li>
											<strong>Hometown:</strong>
											<span>Kaduna</span>
										</li>
										
										
										
									</ul>
									
								</div>
								
								<div class='col-md-8' >
								
									<div class='about-text' >
										<p>
											hello am Malcolm Ibrahim aslo known as, i'm Malz from kaduna, Nigeria i study civil engineering at the federal university of technology minna, i love learning and also love computers, i started learing how to  code early 2023. by learning python and move to a backend developer. also took courses on web Development. i want to go into tech fully cause is an amazing industry and i love it.
										</p>
										
										<p>
											<!--hello am Malcolm Ibrahim aslo known as, i'm Malz from kaduna, Nigeria i study civil engineering at the federal university of technology minna, i love learning and also love computers, i started learing how to  code early 2023. by learning python and move to a backend developer. also took courses on web Development. i want to go into tech fully cause is an amazing industry and i love it.-->
										</p>
										
									</div>
									
									<div class='about-btns' >
										
										<a href='#' class='btn-custom btn-color' >
											Download Resume
										</a>
										
										<a href='#' class='btn-custom btn-color' >
											Hire Me
										</a>
										
									</div>
									
								</div>
								
							</div>
							
						</div>
					</div>
					
					<div class='section-block services-block' >
						
						<div class='container-fluid' >
							
							<div class='section-header' >
								
								<h2>My <strong class='color' >Services</strong></h2>
								
							</div>
							
							
							
							<div class='row' >
								
								<div class='col-md-4' >
									<div class='service' >
										
										<div class='icon' >
											<i class='icon-basic-photo' ></i>
										</div>
										
										<div class='content' >
											
											<h4>Backend developer</h4>
											
											<p>
												backend developer, python familiar with both flask and Django
											</p>
											
										</div>
									-->
									</div>
								</div>
								
								<div class='col-md-4' >
									<div class='service' >
										
										<div class='icon' >
											<i class='icon-basic-keyboard' ></i>
										</div>
										
										<div class='content' >
											
											<h4>Front developer</h4>
											
											<p>
												frontend developer, HTML, CSS, JavaScript, <React class="js"></React>
											</p>
											
										</div>
										
									</div>
								</div>
								
								<div class='col-md-4' >
									<div class='service' >
										
										<div class='icon' >
											<i class='ion-social-wordpress-outline' ></i>
										</div>
										
										<div class='content' >
											
											<h4>App design</h4>
											
											<p>
												familiar UI/UX
											</p>
											
										</div>
										
									</div>
								</div>
								
								
								
							</div>
							
							
						</div>
						
					</div>
					
					<div class='section-block skills-block' >
						<div class='container-fluid' >
							
							<div class='section-header' >
								
								<h2>
									My <strong class='color' >Skills</strong>
								</h2>
								
							</div>
							
							<div class='row' >
								
								<div class='col-md-6' >
									
									<div class='skill' >
										
										<h4>HTML/CSS</h4>
										
										<div class='bar' >
											<div class='percent' style='width:75%;' ></div>
										</div>
										
									</div>
									
									
									<div class='skill' >
										
										<h4>python</h4>
										
										<div class='bar' >
											<div class='percent' style='width:80%;' ></div>
										</div>
										
									</div>
									
									
									<div class='skill' >
										
										<h4>Django</h4>
										
										<div class='bar' >
											<div class='percent' style='width:75%;' ></div>
										</div>
										
									</div>
									
								</div>
								
								<div class='col-md-6' >
									
									<div class='skill' >
										
										<h4>JavaScript</h4>
										
										<div class='bar' >
											<div class='percent' style='width:65%;' ></div>
										</div>
										
									</div>
									
									
									<div class='skill' >
										
										<h4>WordPress</h4>
										
										<div class='bar' >
											<div class='percent' style='width:80%;' ></div>
										</div>
										
									</div>
									
									
									<div class='skill' >
										
										<h4>flask</h4>
										
										<div class='bar' >
											<div class='percent' style='width:75%;' ></div>
										</div>
									
									</div>
									
								</div>
								
							</div>
							
							
						</div>
					</div>
					
					<div class='section-block pricing-block' >
						
						<div class='section-header' >
							<h2>My <strong class='color' >Pricing</strong></h2>
						</div>
						
						
						<div class='row' >
							
							<div class='col-md-4' >
								
								<div class='p-table' >
									
									<div class='header' >
										
										<h4>Basic</h4>
										
										<div class='price' >
											<span class='currency' >$</span>
											<span class='amount' >50</span>
											<span class='period' >/HR</span>
										</div>
										
										
									</div>
									
									<ul class='items' >
										<li>
											App Designing
										</li>
										<li>
											App Development
										</li>
										<li>
											Web Development
										</li>
									</ul>
									
									<a href='#' class='btn-custom btn-color' >
										Choose This
									</a>
									
								</div>
								
							</div>
							
							<div class='col-md-4' >
								
								<div class='p-table' >
									
									<div class='header' >
										
										<h4>Pro</h4>
										
										<div class='price' >
											<span class='currency' >$</span>
											<span class='amount' >100</span>
											<span class='period' >/HR</span>
										</div>
										
										
									</div>
									
									<ul class='items' >
										<li>
											App Designing
										</li>
										<li>
											App Development
										</li>
										<li>
											Web Development
										</li>
									</ul>
									
									<a href='#' class='btn-custom btn-color' >
										Choose This
									</a>
									
								</div>
								
							</div>
							
							<div class='col-md-4' >
								
								<div class='p-table' >
									
									<div class='header' >
										
										<h4>Gold</h4>
										
										<div class='price' >
											<span class='currency' >$</span>
											<span class='amount' >150</span>
											<span class='period' >/HR</span>
										</div>
										
										
									</div>
									
									<ul class='items' >
										<li>
											App Designing
										</li>
										<li>
											App Development
										</li>
										<li>
											Web Development
										</li>
									</ul>
									
									<a href='#' class='btn-custom btn-color' >
										Choose This
									</a>
									
								</div>
								
							</div>
							
							
						</div>
						
						
					</div>
					
				</section>
				
				
				<!--=====================================================
					Resume Section
				=====================================================-->
				<section id='resume' class='section resume-section border-d' >
					
					<div class='section-block timeline-block' >
						
						<div class='container-fluid' >
							
							<div class='section-header' >
								
								<h2>My <strong class='color' >Education</strong></h2>
								
							</div>
							
							<ul class='timeline' >
								
								<li>
									
									<div class='timeline-content' >
										
										<h4>federal university of technology minna, Nigeria</h4>
										
										<em>
											<span>Bachelor Degree</span>
											<span>2015-2021</span>
										</em>
										
										<p>
											gain admission into the federal university of technology, minna nigeria where a obtian my Bachelor degree of engineering in civil engineering. 
										</p>
										
									</div>
									
								</li>
								
								<li>
									
									<div class='timeline-content' >
										
										<h4> Udemy course, ZTM(zero to mastery): python developer </h4>
										
										<em>
											<span>Udemy Certificate of completion </span>
											<span>2023</span>
										</em>
										
										<p>
											started my course on python Development which i completed inn three month and became a backend developer on Udemy
										</p>
										
									</div>
									
								</li>
								
								<li>
									
									<div class='timeline-content' >
										
										<h4>Udemy course, ZTM(zero to mastery): web Development(2023)</h4>
										
										<em>
											<span>Udemy Certificate</span>
											<span>2023</span>
										</em>
										
										<p>
											Took a course on web Development in other to improve my backend also shoot me up to a fullstack developer
										</p>
										
									</div>
									
								</li>
								
								
								
							</ul>
							
						</div>
						
					</div>
					
					<div class='section-block timeline-block' >
						
						<div class='container-fluid' >
							
							<div class='section-header' >
								
								<h2>My <strong class='color' >Experience</strong></h2>
								
							</div>
							
							<ul class='timeline' >
								
								<li>
									
									<div class='timeline-content' >
										
										<h4>portfolio website</h4>
										
										<em>
											<span><lincgideon class="com"></lincgideon></span>
											<span>2023</span>
										</em>
										
										<p>
											built a portfolio site for my client who is a photographer, social media handler, identity brand manager, also a UI/UX designer.
										</p>
										
									</div>
									
								</li>
								
								<li>
									
									<div class='timeline-content' >
										
										<h4>portfolio website</h4>
										
										<em>
											<span><mixlouy class="com"></mixlouy></span>
											<span>2023</span>
										</em>
										
										<p>
											built a portfolio website for an artist and also a music producer
										</p>
										
									</div>
									
								</li>
								
								<li>
									
									<div class='timeline-content' >
										
										<h4>Webpage</h4>
										
										<em>
											<span>My personal Webpage</span>
											<span>2023</span>
										</em>
										
										<p>
											Built my personal webpage to promote my product  and show case my skill set
										</p>
										
									</div>
									
								</li>
								
								
								
							</ul>
							
						</div>
						
					</div>
					
					<div class='section-block testimonials-block' >
						
						<div class='container-fluid' >
							
							<div class='section-header' >
								
								<h2>My <strong class='color' >Clients</strong></h2>
								
							</div>
							
							
							<div class='testimonials-slider' >
								
								
								<div class='testimonial' >
									
									<div class='icon' >
										<i class='ion-quote' ></i>
									</div>
									
									<p>
										Lincoln Gideon Abraham, a UI/UX designer, brand identity manager, content creator, social media handler and also and also an artist. 
									</p>
									
									<div class='author' >
										<h4>Lincoln A. Gideon</h4>
										<span>Entreprenuer</span>
									</div>
									
								</div>
								
								<div class='testimonial' >
									
									<div class='icon' >
										<i class='ion-quote' ></i>
									</div>
									
									<p>
										Louis james also known as Donlouy is an artist, content creator and also a music producer
									</p>
									
									<div class='author' >
										<h4>Louis James</h4>
										<span>CEO mixlouy records</span>
									</div>
									
								</div>
								
						    <!--
								<div class='testimonial' >
									
									<div class='icon' >
										<i class='ion-quote' ></i>
									</div>
									
									<p>
										Ei constituam theophrastus per, sea dolorum disputationi in, vel menandri suavitate similique in. Vide assum conceptam eum et. Has postulant vul putate eu. Pro justo aliquando prodesset at.
									</p>
									
									<div class='author' >
										<h4>Jake Doe</h4>
										<span>CEO at Company</span>
									</div>
									
								</div>
								
								<div class='testimonial' >
									
									<div class='icon' >
										<i class='ion-quote' ></i>
									</div>
									
									<p>
										Ei constituam theophrastus per, sea dolorum disputationi in, vel menandri suavitate similique in. Vide assum conceptam eum et. Has postulant vul putate eu. Pro justo aliquando prodesset at.
									</p>
									
									<div class='author' >
										<h4>Jake Doe</h4>
										<span>CEO at Company</span>
									</div>
									
								</div>
								
								
								<div class='testimonial' >
									
									<div class='icon' >
										<i class='ion-quote' ></i>
									</div>
									
									<p>
										Ei constituam theophrastus per, sea dolorum disputationi in, vel menandri suavitate similique in. Vide assum conceptam eum et. Has postulant vul putate eu. Pro justo aliquando prodesset at.
									</p>
									
									<div class='author' >
										<h4>Jake Doe</h4>
										<span>CEO at Company</span>
									</div>
									
								</div>
								
								<div class='testimonial' >
									
									<div class='icon' >
										<i class='ion-quote' ></i>
									</div>
									
									<p>
										Ei constituam theophrastus per, sea dolorum disputationi in, vel menandri suavitate similique in. Vide assum conceptam eum et. Has postulant vul putate eu. Pro justo aliquando prodesset at.
									</p>
									
									<div class='author' >
										<h4>Jake Doe</h4>
										<span>CEO at Company</span> -->
									</div>
									
								</div>
								
								
							</div>
							
						</div>
						
					</div>
					
				</section>
				
				
				<!--=====================================================
					Portfolio Section
				=====================================================
				<section id='portfolio' class='section portfolio-section border-d' >
					
					<div class='section-block portfolio-block' >
						
						<div class='container-fluid' >
							
							
							<div class='section-header' >
								<h2>My <strong class='color' >Works</strong></h2>
							</div>
							
							<ul class='portfolio-filters' >
								<li>
									<a href='#' class='active' data-group='all' >
										All
									</a>
								</li>
								<li>
									<a href='#' data-group='web' >
										Web
									</a>
								</li>
								<li>
									<a href='#' data-group='tech' >
										Tech
									</a>
								</li>
								<li>
									<a href='#' data-group='photography' >
										Photography
									</a>
								</li>
							</ul>
							
							<ul class='portfolio-items' >
								
								<li data-groups='["web","tech"]' >
									<div class='inner' >
										<img src='img/portfolio/1.jpg' alt>
										
										<div class='overlay' >
											
											<a href='#popup-1' class='view-project' >
												View Project
											</a>
											
											<!--project popup-->
											<div id='popup-1' class='popup-box zoom-anim-dialog mfp-hide' >
												<figure>
													
													<!--project popup image-->
													<img src='img/portfolio/1.jpg' alt>
												
												</figure>
												<div class='content' >
													
													<!--project popup title-->
													<h4>My Project Title</h4>
													
													<!--project popup description-->
													<p>
														Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim quem quod cibo.
													</p>
													
												</div>
												
											</div>
											
										</div>
										
									</div>
								</li>
								
								<li data-groups='["tech","photography"]' >
									<div class='inner' >
										<img src='img/portfolio/2.jpg' alt>
										
										<div class='overlay' >
											
											<a href='#popup-2' class='view-project' >
												View Project
											</a>
											
											<!--project popup-->
											<div id='popup-2' class='popup-box zoom-anim-dialog mfp-hide' >
												<figure>
													
													<!--project popup image-->
													<img src='img/portfolio/2.jpg' alt>
												
												</figure>
												<div class='content' >
													
													<!--project popup title-->
													<h4>My Project Title</h4>
													
													<!--project popup description-->
													<p>
														Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim quem quod cibo.
													</p>
													
												</div>
												
											</div>
											
										</div>
										
									</div>
								</li>
								
								<li data-groups='["web","photography"]' >
									<div class='inner' >
										<img src='img/portfolio/3.jpg' alt>
										
										<div class='overlay' >
											
											<a href='#popup-3' class='view-project' >
												View Project
											</a>
											
											<!--project popup-->
											<div id='popup-3' class='popup-box zoom-anim-dialog mfp-hide' >
												<figure>
													
													<!--project popup image-->
													<img src='img/portfolio/3.jpg' alt>
												
												</figure>
												<div class='content' >
													
													<!--project popup title-->
													<h4>My Project Title</h4>
													
													<!--project popup description-->
													<p>
														Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim quem quod cibo.
													</p>
													
												</div>
												
											</div>
											
										</div>
										
									</div>
								</li>
								
								
								<li data-groups='["web"]' >
									<div class='inner' >
										<img src='img/portfolio/4.jpg' alt>
										
										<div class='overlay' >
											
											<a href='#popup-4' class='view-project' >
												View Project
											</a>
											
											<!--project popup-->
											<div id='popup-4' class='popup-box zoom-anim-dialog mfp-hide' >
												<figure>
													
													<!--project popup image-->
													<img src='img/portfolio/4.jpg' alt>
												
												</figure>
												<div class='content' >
													
													<!--project popup title-->
													<h4>My Project Title</h4>
													
													<!--project popup description-->
													<p>
														Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim quem quod cibo.
													</p>
													
												</div>
												
											</div>
											
										</div>
										
									</div>
								</li>
								
								<li data-groups='["tech"]' >
									<div class='inner' >
										<img src='img/portfolio/5.jpg' alt>
										
										<div class='overlay' >
											
											<a href='#popup-5' class='view-project' >
												View Project
											</a>
											
											<!--project popup-->
											<div id='popup-5' class='popup-box zoom-anim-dialog mfp-hide' >
												<figure>
													
													<!--project popup image-->
													<img src='img/portfolio/5.jpg' alt>
												
												</figure>
												<div class='content' >
													
													<!--project popup title-->
													<h4>My Project Title</h4>
													
													<!--project popup description-->
													<p>
														Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim quem quod cibo.
													</p>
													
												</div>
												
											</div>
											
										</div>
										
									</div>
								</li>
								
								<li data-groups='["photography"]' >
									<div class='inner' >
										<img src='img/portfolio/6.jpg' alt>
										
										<div class='overlay' >
											
											<a href='#popup-6' class='view-project' >
												View Project
											</a>
											
											<!--project popup-->
											<div id='popup-6' class='popup-box zoom-anim-dialog mfp-hide' >
												<figure>
													
													<!--project popup image-->
													<img src='img/portfolio/6.jpg' alt>
												
												</figure>
												<div class='content' >
													
													<!--project popup title-->
													<h4>My Project Title</h4>
													
													<!--project popup description-->
													<p>
														Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim quem quod cibo.
													</p>
													
												</div>
												
											</div>
											
										</div>
										
									</div>
								</li>
								
							</ul>
							
						</div>
					
					</div>
					
				</section>  -->
				
				
				<!--=====================================================
					Contact Section
				=====================================================-->
				<section id='contact' class='section contact-section border-d' >
					
					<div class='section-block contact-block' >
						
						<div class='container-fluid' >
							
							<div class='section-header' >
								<h2>Contact <strong class='color' >Me</strong></h2>
							</div>
							
							
							<div class='row' >
							
								<div class='col-md-8' >
									
									<div class='contact-form' >
									
										<form id='submit_form'   data-toggle='validator' method='post' action="submit_form">
										
											<div id='contact-form-result' ></div>
										
											<div class='row' >
												
												<div class='col-md-6' >
													<div class='form-group' >
														
														<input type='text' class='form-control' placeholder='Name' name='name' required>
														<div class='help-block with-errors' ></div>
														
													</div>												
												</div>
												
												<div class='col-md-6' >
													<div class='form-group' >
														
														<input type='email' class='form-control' placeholder='Email' name='email' required>
														<div class='help-block with-errors' ></div>
													
													</div>
												</div>
												
											</div>
											
											<div class='form-group' >
												
												<input type='text' class='form-control' placeholder='Subject' name='subject' required>
												<div class='help-block with-errors' ></div>
											
											</div>
											
											<div class='form-group' >
												
												<textarea class='form-control' placeholder='Message' name='message' rows='5' required></textarea>
												<div class='help-block with-errors' ></div>
												
											</div>
											
											<div class='form-group text-center' >
												<button type='submit' class='btn-custom btn-color' >
													Send Message
												</button>
											</div>
											
										</form>
										
									</div>
									
									
								</div>
								
								<div class='col-md-4' >
									
									<div class='contact-info-icons' >
										
										<div class='contact-info' >
											
											<i class='ion-ios-location-outline' ></i>
											
											<p>
												shop 15 i.dot.i plaza barnawa<br>
												kaduna, Nigeria
											</p>
											
										</div>
										
										
										<div class='contact-info' >
											
											<i class='ion-ios-telephone-outline' ></i>
											
											<p>
												(+234) 913-330-8084<br>
										
											</p>
											
										</div>
										
										
										<div class='contact-info' >
											
											<i class='ion-android-globe' ></i>
											
											<p>
												Malcolm1ibrahim@gmail.com<br>
												github: Malz00
											</p>
											
										</div>
										
										
										
										
									</div>
									
									
									
								</div>
								
								
							</div>
							
							
							
						</div>
					
					</div>
					
				</section>
				
			</div>
			
		</div>
		
		
		<!--=====================================================
			JavaScript Files
		=====================================================-->
		<script src='./static/js/jquery.min.js' ></script>
		<script src='./static/js/jquery.shuffle.min.js' ></script>
		<script src='./static/js/owl.carousel.min.js' ></script>
		<script src='./static/js/jquery.magnific-popup.min.js' ></script>
		<script src='./static/js/validator.min.js' ></script>
		<script src='./static/js/script.js' ></script>
		
	</body>
</html>